table {
  border: 1px solid black;
}

th {
  border: 1px solid black;
  font-weight: bold;
  color: white;
  background-color: black;
}

tbody tr:nth-child(even) {
  background-color: lightgrey;
}

tbody tr:hover {
  background-color: lightblue;
}

tr.red td {
  color: red;
}
